body{

}

.nav-icon{
margin: 2%;
transform: scale(1.1,1.1);
}

.nav-bar{
margin-left: 80%;
cursor: pointer;


}
#logotip{
 display: block;
  margin: 0 auto;
}

.menu{
width: 20%;
height; 50%;
position: absolute;
top: 20%;
left: 80%;
background-color: #666464;
color: white;
}