<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#C91DE5">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>


    <title>E&Art</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/site-icon.svg')}}">
</head>
<body>
<div id="main-div">
    <div class="nav-bar">
        <img class="nav-icon" id="instagram" src="{{ url_for('static', path='/images/instagram-icon.svg') }}"/>
        <img class="nav-icon" id="vk" src="{{ url_for('static', path='/images/vk-icon.svg') }}"/>
        <img class="nav-icon" id="telegram" src="{{ url_for('static', path='/images/telegram-icon.svg') }}"/>
        <img class="nav-icon" id="menu" src="{{ url_for('static', path='/images/menu-icon.svg') }}"/>
        </div><br>
       <img id="logotip" src="{{ url_for('static', path='/images/logotip.svg') }}"/>
        <div class="menu">
        <p>О нас</p>
        <p>Услуги</p>
            <p>Новости</p>
            <p>Контакты</p>
        </div>


</div>
</body>
</html>