<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#C91DE5">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>


    <title>E&Art</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/site-icon.svg')}}">
</head>
<body>
<div id="main-div">
    <div id='nav-bar'>
        <img id="menu" src="{{ url_for('static', path='/images/menu-button.svg') }}"/>
        <img id="call" src="{{ url_for('static', path='/images/call-button.svg') }}"/>
    </div>
    <div id="logo">
       <img id="logotip" src="{{ url_for('static', path='/images/logotip.svg') }}"/>
    </div>

</div>
</body>
</html>